@tailwind base;
@tailwind components;
@tailwind utilities;

.shake {
    animation: shake .5s cubic-bezier(.36, .07, .19, .97) both 1;
}

@keyframes shake {
    0% {
        transform: translateX(0)
    }
    25% {
        transform: translateX(10px)
    }
    50% {
        transform: translateX(-10px)
    }
    75% {
        transform: translateX(10px)
    }
    100% {
        transform: translateX(0)
    }
}